<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
</head>
	<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-table.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	
	
  	<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
  	<script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
  	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="/js/bootstrap-table.js"></script>
  	<script type="text/javascript" src="/js/bootstrap-table-zh-CN.js"></script>
  	
  	
<body >
	<div class="sui-navbar navbar-fixed-top">
  <div class="navbar-inner"><a href="#" class="sui-brand">KDB</a>
    <ul class="sui-nav">
      <li ><a href="/">首页</a></li>
      <li class="active"><a href="/order/view">订单列表</a></li>
      <li class="sui-dropdown"><a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">其他 <i class="caret"></i></a>
        <ul role="menu" class="sui-dropdown-menu">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">关于</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">版权申明</a></li>
        </ul>
      </li>
      <li >
      	<a id="name">欢迎您：</a>
      	<input type="hidden" id="username"/>
      </li>
      <li>
      	<a  href="/loginout">退出</a>
      </li>
    </ul>
  </div>
	<div>
		<form class="form-inline" id = "roderListForm" action="/order/list" method='post'>
		<fieldset>
		  <div class="form-group">
		    <label for="wxusername">手机号</label>
		    <input type="text" class="form-control" id="phone" name="phone">
		  </div>
		  <div class="form-group">
		    <label for="orderId">订单号</label>
		    <input type="text" class="form-control" id="orderId" name="orderId">
		  </div>
		  <div id="stime" class="form-group control-group input-daterange">
		    <label for="orderId">开始时间</label>
		    <input type="text" class="form-control input-medium input-date" id="startTime" name='startTime'>
		  </div>
		  <div id="etime" class="form-group control-group input-daterange">
		    <label for="orderId">结束时间</label>
		    <input type="text" class="form-control input-medium input-date" id="orderId" name="startTime">
		  </div>
		  <button type="button" class="btn btn-default" onclick="initTable();">查询</button>
		  </fieldset>
		</form>
	</div>
	
	<div>
		<table id ="orderTable"></table>
	</div>
</div>

</body>
</html>
<script type="text/javascript">
var username;
$(function(){
	getSession();
	initTable();
});

$('#stime').datepicker({});
$('#etime').datepicker({});

function loginout(){
	if(username == null){
		window.location.href="/login";
	}
	$.ajax({
        type: "POST",
        url: "/loginout",
        dataType: "json",
        contentType: "application/json",
        data: username,
        success: function(oData) {
            // var  data= jQuery.parseJSON(oData);
            console.log(oData);
            if (oData != null && oData.errorCode == 0) {
                window.location.href = "index";
            } else if (oData != null && oData.errorCode == -2) {
                $(".error").html(oData.msg);
            } else {
                $(".error").html(oData.msg);
            }
        }
    });
}

function getSession(){
	$.ajax({
        type: "POST",
        url: "/getSession",
        contentType: "application/json",
        success: function(data) {
            console.log(data);
            $("#name").html("欢迎您："+data.data.name);
        	$("#username").val(data.data.username);
        }
    });
}


function initTable(){
	$("#orderTable").bootstrapTable("destroy");
    var url = "/order/list";
  //加载表格数据
	$("#orderTable").bootstrapTable({
		url:url,
		cache:true,
		columns:[{
            field : 'orderid',
            title : '订单编号',
            align : 'center',
            valign : 'middle',
            sortable : true
        }, {
            field : 'wxname',
            title : '用户名',
            align : 'center',
            valign : 'middle',
            sortable : true
        }],
		//服务返回值
		responseHandler:function(res) {
			
			/*if(5 == res.errorCode) {
				window.location.href= "../index.html";
			}*/
			
			if(res.total != 0) {
				return {
					"total":res.total,
					"rows":res.result
				};
			} else {
				return {
					"total":0,
					"rows":[]
				}
			}
		},
		dataType:"json",
		contentType:"application/json",
		method:"POST",
		pagination:true,
		sidePagination:"server",
		pageSize:5,
		silentSort:false,
		paginationPreText:"<",
		paginationNextText:">",
		//传参
		queryParams:function(params) {
			var temp = {
				pageSize : params.limit,
				currentPage : (params.offset+params.limit)/params.limit,
				orderBy:"orderId",
				data:serializeObject($("#roderListForm"))
			};
			return JSON.stringify(temp);
		},
		queryParamsType:"limit",
		onLoadError:function(status) {
			if(status == 500) {
				bootbox.alert({
					title:'温馨提示',
					message:'后台服务忙,请稍后再试......',
					className:'bootModal',
		        });
			}
		}
	});
}





function initDate(){
    var start = {
            elem: '#startTime',
            format: 'YYYY-MM-DD hh:mm:ss',
            min: laydate.now(-7),       
            max: laydate.now(),
            istime: true,
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#endTime',
            format: 'YYYY-MM-DD hh:mm:ss',
            min: laydate.now(-7),       
            max: laydate.now(),
            istime: true, //是否开启时间选择
            isclear: true, //是否显示清空
            istoday: true, //是否显示今天
            issure: true, //是否显示确认
            choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);
}

function queryParams(params) {
    var param = {
    	phone : $("#phone").val(),
    	orderId : $("#orderId").val(),
        startTime : $("#startTime").val(),
        endTime : $("#endTime").val(),
        limit : this.limit, // 页面大小
        offset : this.offset, // 页码
        pageindex : this.pageNumber,
        pageSize : this.pageSize
    }
    return param;
} 

// 用于server 分页，表格数据量太大的话 不想一次查询所有数据，可以使用server分页查询，数据量小的话可以直接把sidePagination: "server"  改为 sidePagination: "client" ，同时去掉responseHandler: responseHandler就可以了，
function responseHandler(res) { 
    if (res) {
        return {
            "rows" : res.result,
            "total" : res.totalCount
        };
    } else {
        return {
            "rows" : [],
            "total" : 0
        };
    }
}
serializeObject = function(form) {
	var o = {};
	$.each(form.serializeArray(), function(index) {
		if (this['value'] != undefined && this['value'].length > 0) {// 如果表单项的值非空，才进行序列化操作
			if (o[this['name']]) {
				o[this['name']] = o[this['name']] + "," + this['value'];
			} else {
				o[this['name']] = this['value'];
			}
		}
	});
	return o;
};
</script>